<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.easefun.polyv.liveecommerce">

    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <application>

        <activity
            android:name=".scenes.PLVECLiveEcommerceActivity"
            android:configChanges="orientation|keyboard|screenSize"
            android:screenOrientation="portrait"
            android:launchMode="singleTop"
            android:theme="@style/AppTheme.Translate"
            android:windowSoftInputMode="stateHidden|adjustResize" />

        <activity
            android:name=".modules.chatroom.widget.PLVECChatInputWindow"
            android:configChanges="orientation|keyboard|screenSize"
            android:screenOrientation="behind"
            android:theme="@style/AppTheme.Translucent" />

        <activity
            android:name=".modules.commodity.PLVECCommodityDetailActivity"
            android:configChanges="orientation|keyboard|screenSize"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />

        <service android:name=".modules.player.floating.PLVECFloatingWindowService" />
    </application>
</manifest>
